body {
    margin: 0;
    background-color: #add8e6;
    font-family: Arial;
}

.navbar {
    background-color: #003366;
    padding: 15px;
}

.navbar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

.center-text {
    text-align: center;
    margin-top: 150px;
    color: white;
    font-size: 30px;
}
