

{% extends 'mainapp/base.html' %}

{% load static %}
{% block content %}

<h2>Colleges</h2>

<div style="display:flex; flex-wrap:wrap; gap:30px; justify-content:center; margin-top:80px; ">

    <!-- SVECW -->
    <a href="{% url 'svecw1' %}">
        <img src="{% static 'mainapp/images/svecwlogo.jpg' %}"
             alt="SVECW"
             width="450" height="300">
    </a>

    <!-- VIT -->
    <a href="{% url 'vit' %}">
        <img src="{% static 'mainapp/images/vitlogo.avif' %}"
             alt="VIT"
             width="450" height="300">
    </a>

    <!-- BVRIT -->
    <a href="{% url 'bvrit' %}">
        <img src="{% static 'mainapp/images/bvritlogo.jpeg' %}"
             alt="BVRIT"
             width="450" height="300">
    </a>

</div>
{% endblock %}
