{% extends 'mainapp/base.html' %}

{% load static %}
{%block content %}
<h2>Vishnu Institute Of Tecnology (VIT)</h2>

<div style="display:flex; gap:25px; align-items:flex-start;">

    <img src="{% static 'mainapp/images/vit.jpg' %}" alt="vitpic" width="500" height="400">

    <div>
        <p>
          <strong>Vishnu Institute of Technology (VIT)</strong> is a prominent autonomous engineering college in Bhimavaram, Andhra Pradesh, established
           in 2008 by the Sri Vishnu Educational Society (SVES) under the leadership of Dr. B.V. Raju, known for its quality technical education,
            strong infrastructure, good placements, and accreditations like NAAC 'A++' and NBA. Offering B.Tech and M.Tech programs in various 
            branches (CSE, IT, ECE, Mech, etc.), VITB focuses on holistic development, boasting facilities, high intake, and placements in top 
            IT companies, making it a leading choice in the region.  
        </p>
        <h3>Key Highlights:</h3>
        <ul>
            <li>
                <strong>Establishment:</strong> 2008 by Sri Vishnu Educational Society (SVES).
                ergonomic seating, and some air-conditioned rooms.
            </li>
            <li><strong>Location:</strong> Bhimavaram, Andhra Pradesh, on a sprawling 100-acre campus.</li>
            <li><strong>Affiliation & Approval:</strong> Affiliated to JNTUK (Kakinada) and approved by AICTE.</li>
            <li><strong>Accreditation:</strong> NAAC 'A++' Grade (twice) and NBA accredited for several branches.</li>
            <li><strong>Autonomy:</strong> Granted Autonomous status for 10 years from 2019. </li>
        </ul>
        <h3>Academics & Programs:</h3>
        <ul>
            <li>Offers B.Tech and M.Tech in popular disciplines like CSE, IT, ECE, AI & DS, Mechanical, EEE, and Civil.</li>
            <li>Known for strong teaching-learning practices and focus on technical skills. </li>
        </ul>
        <h3>Infrastructure & Facilities:</h3>
        <ul>
            <li>Excellent infrastructure with modern labs, auditoriums, and sports facilities.</li>
            <li>Provides comprehensive placement training and resources.</li>
        </ul>

    </div>
    
</div>
<h3>Placements</h3>
<ul>
    <li>Strong placement record with top recruiters like Wipro, TCS, Accenture, Infosys visiting the campus.</li>
    <li>Offers significant job opportunities and good salary packages for graduates.</li>
</ul>
<h3>Management:</h3>
<ul>
    <li>Promoted by the Sri Vishnu Educational Society (SVES), founded by the late Dr. B.V. Raju.</li>
    <li>Headed by Shri K.V. Vishnu Raju, with support from experienced professionals like Shri Ravichandran Rajagopal and Shri K. Aditya Vissam. </li>
</ul>


{% endblock %}